header {
    background-color: black;
    color: white;

    h2 {
        margin: 0;
        padding: 15px;
    }
}

main {
    padding: 15px;
}

ul {

}

#origInput {
    width: 75%;
}

#destInput {
    width: 75%;
}

.trip-details {
    margin-top: 40px;
}

.trip-number-span {
    font-weight: bold;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  body {
    width: 615px;
    margin: auto;
    border: 1px solid black} }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    width: 645px;
    margin: auto;
    border: 1px solid black} }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    width: 600px;
    margin: auto;
    border: 1px solid black} }
